.container {
  display: flex;
  justify-content: space-around;
}

.img {
  height: 300px;
}

.input {
  height: 20px;
  padding-top: 20px;
}

.box {
  padding: 10px;
}

.labelBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
