.header {
  display: flex;
  justify-content: flex-end;

  height: 80px;
  padding: 23px 50px;

  background-color: #111;

  .box {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    .item {
      display: flex;
      justify-content: space-around;
      padding-left: 50px;
      font-size: large;
    }
  }
}
