.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 80px;
  padding: 23px 50px;

  background-color: #111;

  .box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    margin-left: 1000px;

    list-style-type: none;

    .item {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding-left: 40px;
    }
  }
}
